# Python Cache
__pycache__/

# Config
config.yaml
config.toml
config.json
.env

# Log / Data
logs/
*.log
*.log.*
*.db

# For Local / venv
*.test.*
*.local.*
.venv/
.venv_legacy/

# Others
.vscode/launch.json

# Frontend plugin
dist
frontend-src
