# Python Cache
__pycache__/

# Config
config.yaml
config.toml
config.json
.env

# Log / Data
*.log
*.log.*
*.db

# For Local / venv
*.test.*
*.local.*
.venv/
.venv_legacy/

# Legacy content
old/*

# Others
.vscode/launch.json
